/* @media only screen and (max-width: 900px) {
  .allComponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px;   
  }

  .body {
    width: auto;
  }

  .myStory {
    width: 200px;
  }

  .myPhoto {
    width: auto;
  }

  #myPhoto {
    width: 200px;
  }
}

.allComponents {
  background-color: rgb(25, 25, 25);
  color: #c3c3c3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */