@media only screen and (max-width: 900px) {
  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* max-width: 600px; */
  }
}

.description {
  display: flex;
  /* flex-direction: ; */
  align-items: center;
  justify-content: center;
  width: auto;
  margin-bottom: 100px;
}

p {
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-top: 25px;
}

#myPhoto {
  max-height: 550px;
  max-width: 400px;
  width: auto;
  height: auto;
  border: 3px solid rgba(255, 149, 0, 0.5);
  border-radius: 10px;
}

.myPhoto {  
  margin: 25px;  
}

.myStory {
  display: flex;
  justify-content: center;
  max-width: 350px;
  border-width: 20px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(255, 149, 0, 0.5), 
      rgba(0, 0, 0, 0)
    ) 0 0 1 100%;
}

.aboutMe {
  text-align: center;
  font-size: 24px;
  color: rgba(255, 149, 0, 1);
}
