@media only screen and (max-width: 900px) {
  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* max-width: 300px; */
  }

  h3 {
    text-align: center;
  }

  .projectsSample {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


  .project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 250px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  color: rgba(255, 149, 0, 1);
}

h3 {
  text-align: center;
}