@media only screen and (max-width: 900px) {
  .projectsDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: left;
    width: 250px;
    max-height: 400px;
  }

  .folder {
    max-width: 200px;
  }

  .list {
    max-width: 250px;
  }
}

.folder {
  width: auto;
  height: auto;
  width: 400px;
  border: 3px solid rgba(255, 149, 0, 0.5);
  border-radius: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 500px;
  width: 400px;
}

.projectsDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  width: 100%;
}

.list {
  width: 400px;
}

#projectName {
  color: rgba(255, 149, 0, 1);
}