.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../Images/eu2.jpg);
    background-size: 100%;
    background-color: black;
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 80%;
    cursor: pointer;
}

.title-paragraph {
  width: 80%;
  padding-right: 20%;
  text-align: right;
  align-self: flex-end;
  color: white
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 80%;
    cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  margin-right: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


a:visited { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
}


a:hover { 
  text-decoration: none;
  color: #74ffd5
}


a:active { 
  text-decoration: none; 
  color: #74ffd5
}

h1 {
  font-size: 7.5vh;
  background: -webkit-linear-gradient(left, #687efa, #00ffb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 5vh;;
}

#britishFlag {
  max-height: 14px ;
}

#brazilianFlag {
  max-height: 15px;  
}

.flags {
  height: 20px;
  width: 120px;
}

#brazilianFlag {
    margin-right: 2px;
}

#britishFlag {
    margin-right: 2px;
}

@media (max-width: 750px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../Images/eu2.jpg);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
  }
  .title-paragraph h1 {
    padding: 5%;
    font-size: 36px;
  }
  .title-paragraph h2 {
    padding-bottom: 5%;
    font-size: 24px;
  }
  .contacts {
    padding: 5%;;
  }
}