.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../Images/eu2.jpg);
    background-size: 100%;
    background-color: black;
    height: 98vh;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 80vh;
    cursor: pointer;
}

.title-paragraph {
    padding-right: 7%;
    text-align: right;
    align-self: flex-end;
    color: white
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 80vh;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    margin-right: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


a:visited { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
}


a:hover { 
  text-decoration: none;
  color: #74ffd5
}


a:active { 
  text-decoration: none; 
  color: #74ffd5
}

h1 {
  font-size: 7.5vh;
  background: -webkit-linear-gradient(left, #687efa, #00ffb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 5vh;;
}

#britishFlag {
  max-height: 14px ;
}

#brazilianFlag {
  max-height: 15px;  
}

.flags {
  height: 20px;
  width: 120px;
}

#brazilianFlag {
    margin-right: 2px;
}

#britishFlag {
    margin-right: 2px;
}

.arrow {
    height: 40px;
}

.scroll-down {
  /* position: absolute; */
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-40px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0, -100px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0, -40px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0, -10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-40px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0, -10px) rotate(45deg); opacity: 0; }
}